<div>
    
    <div class="container">
        <input type="text" class="col-md-4" (change)="searchbarEvents($event)">
        <div class="row trump-head">
            <div class="col-md-4">date</div>
            <div class="col-md-6">Text</div>
            <div class="col-md-2">likes</div>
        </div>

        <div class="row " [ngClass]="search(tweet.text) ? 'highligt': 'trump-data'" *ngFor="let tweet of twat" >
            
            <div class="col-md-4"> {{tweet.date}}</div>
            <div class="col-md-6"> {{tweet.text}}</div>
            <div class="col-md-2"> {{tweet.likes}}</div>
        </div>
    </div>
</div>